.App {
  text-align: center;
  margin: 50px;
}

.container-quote{
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 300px;
  background: white;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background: #fff;
  font-size: 12px;
}

.quote{
  align-self: flex-start;
  font-size: 50px;
}

.button {
  align-self: flex-end;
  border-radius: 50%;
  font-size: 40px;
  border: none;
  cursor: pointer;
  padding: 10px;
}